:root {
    --teal: rgb(92, 229, 204);
}
body {
    background-image: url("../images/kenrick-mills-MF9Wy1NA55I-unsplash.jpg");
    background-size: cover;
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

header {
    background: pink;
    display: flex;
    justify-content: center;
}
.logo {
    text-align: center;
    font-size: 56px;
    border: 3px solid var(--teal);
}

.cool-font {
font-family: 'Shadows Into Light', cursive;
}

.mood-font {
    font-family: 'Preahvihear', sans-serif;
}

#date {
    background: var(--teal);
}
#dateheader {

}
/* #quote {

} */

/* #journalbutton {
    background: var(--teal);
} */
.imageheader{
    padding: 6px;
    
}
#quoteholder {
    max-width: 500px;
}

.weathercontainer{
    max-width: 350px;
}
#weatherform{
    background: var(--teal);
    padding: 8px;
    border: 2px solid pink;
}
#forecast1, #forecast2 {
border: 2px solid pink;
text-align: left;
display: none;
padding-left: 10px;
background: var(--teal);
}



#moonphase {
    border: 2px solid pink;
    display: none;
    background: var(--teal);
}