body {
    background-image: url("../images/kenrick-mills-MF9Wy1NA55I-unsplash.jpg");
    background-size: cover;
}
.cool-font {
font-family: 'Shadows Into Light', cursive;
}

.mood-font {
    font-family: 'Preahvihear', sans-serif;
}
#quote {
    background: white;
}
#forecast1, #forecast2 {
border: 2px solid pink;
text-align: left;
display: none;
padding-left: 10px;
background: white;

}

/* #forecast2 {
    border: 2px solid pink;
    display: none;
    text-align: left;
    padding-left: 10px;
} */

#moonphase {
    border: 2px solid pink;
    background: white;
    display: none;
}


